@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
@import 'base/variables';
@import 'base/mixins';
@import 'base/social-fonts';
@import 'blocks/menu';
@import 'blocks/promo';
@import 'blocks/title';
@import 'blocks/button';
@import 'blocks/sidepanel';
@import 'blocks/divider';
@import 'blocks/resume';
@import 'blocks/contacts';
@import 'blocks/normalize.css';

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

*,
::after,
::before {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent
}

.container {
    margin: 0 auto;
    max-width: 1140px;
}

body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    background-color: #fff
}

a {
    text-decoration: none;
    background-color: transparent
}

@import 'blocks/media';